<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Pac-Man</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<!-- <body> -->
		<canvas id="canvas" width="420" height="540"></canvas>
	<!-- </body> -->
	<script src="/home/soline/DaTA/pacman/static/js/client.js"></script>
	<script src="/home/soline/DaTA/pacman/static/js/grid.js"></script>
	<script src="/home/soline/DaTA/pacman/static/js/pacman.js"></script>
	<script src="/home/soline/DaTA/pacman/static/js/ghost.js"></script>
	<script src="/home/soline/DaTA/pacman/static/js/canvas.js"></script>
</html>
