/* .canvas_container {
	width: 100%;
	text-align: center;
} */

canvas {
	margin: 0 auto;
	display: block;
}

body {
	background-image: url("../static/tunnel.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	min-height: 100%;
}

html {
	margin: 0;
	height: 100%;
}

img {
	width:100%;
	margin-top: 20px;
}

input.play {
	width: 300px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size: 200%;
	background: black;
	font-family: 'Bangers', cursive;
	color: #F9C328;
	font-weight: lighter;
	border: 4px solid #F9C328;
	border-radius: 10px;
	margin-top: 30%;
}

.title {
	font-family: 'Bangers', cursive;
	color: #F9C328;
	font-weight: lighter;
	margin-top: 3%;
	margin-left: 10%;
	font-size: 5em;
}
